.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
@media only screen and (min-width: 400px) {
    .container{
        max-width: 400px;
    }
}
@media only screen and (min-width: 520px) {
    .container{
        max-width: 520px;
    }
}
@media only screen and (min-width: 640px) {
    .container{
        max-width: 640px;
    }
}
@media only screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}
@media only screen and (min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}
@media only screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}
@media only screen and (min-width: 1440px) {
    .container{
        max-width: 1440px;
    }
}